<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration Success</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

        img {
            max-width: 100%;
        }

        body {
            margin: 0
        }

        table {
            width: 700px;
            margin: 0 auto
        }

        @media(max-width:767px) {
            table {
                width: 100%;
                margin: 0 auto
            }
        }
    </style>
</head>

<body style="font-family: 'Roboto', sans-serif;font-size:17px;line-height:30px;">

    <table align="center" cellpadding="0" cellspacing="0"
        style="padding:20px 0px;border-radius:5px;border:1px solid #ccc">
        <tr>
            <td style="text-align:center;adding: 20px 10px;">
                <div class="top"><img style="width:150px;height:150px" src="<%=urls.rootUrl%>images/logo.gif"
                        alt="Logo"></div>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 20px">
                <p style="text-align:center">You can also create jobs from desktop using <a href="<%=urls.orgUrl%>"
                        target="_blank">Organization Panel</a></p>
                <p style="text-align:center">You have successfully signed up with ABC.</p>
                <p><strong>Warm Regards,<br>
                        The Abc Team</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">For more visit our website:</td>
        </tr>
    </table>

</body>

</html>
